/* ============================= =================================
                          Fonts import
============================= ================================= */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

/* ============================= =================================
                          CSS VARIABLES
============================= ================================= */
@media (prefers-color-scheme: dark) {
  :root {
  }
}

:root {
  --accent: #DB7F8E;
  --gray-2: #D5C5C8;
  --gray-1: #9DA3A4;
  --darken: #604D53;
  --lite: #FFDBDA;

  --ff-h: 'Ubuntu', sans-serif;
  --ff-p: 'Roboto', sans-serif;

  --fz-lg: 2rem;
  --fz-md: 1.6rem;
  --fz-sm: 1.4rem;

  --bold: 700;
  --regular: 400;
}

/* ============================= =================================
                         Global Styles
============================= ================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: var(--ff-p);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--ff-h);
  text-transform: uppercase;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--lite);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: -2px;
}

img {
  width: 100%;
}

.container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

