@import './base.css';

/* ============================= =================================
Main Styles
============================= ================================= */
.router-link-active,
.router-link-exact-active {
  color: var(--lite);
}
.router-link-active::after,
.router-link-exact-active::after {
  width: 100%;
  left: -2px;
}
header {
  padding: 1em 0;
  background-color: var(--gray-1);
}
.header__wrapper,
.header__links,
.brand {
  display: flex;
  align-items: center;
}
.header__wrapper {
  justify-content: space-between;
  font-size: var(--fz-md);
}
.header__links {
  gap: 2em;
  font-size: var(--fz-sm);
  text-transform: uppercase;
  letter-spacing: .4rem;
}
.header__links a {
  display: inline-block;
  padding: 0 .2em;
}
.brand {
  gap: 1.5em;
  color: black;
}
.brand span {
  font-weight: 700;
}
.brand__logo {
  max-width: 50px;
}
.search-form {
  position: relative;
  width: 100%;
  max-width: 360px;
  padding-top: 2em;
  margin: 0 auto;
}
.search-form__input {
  display: flex;
  gap: 1em;
}
.search-form__input button {
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: .5em 1em;
  transition: all 300ms ease-in-out;
}
.search-form__input button:hover {
    cursor: pointer;
    opacity: .8;
}
.search-form__input button:focus,
.search-form__input button:active {
  border: 1px solid var(--gray-2);
}
.search-form input {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  padding: .8em .5em;
  outline: none;
  border-radius: 10px;
  font-size: var(--fz-md);
  transition: all 0.3s;
}
.search-form input:active,
.search-form input:focus {
  border-color: var(--accent);
}
.search-form input:disabled {
  opacity: .4;
}

.search-form__list {
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 4.5em;
  font-size: var(--fz-sm);
  list-style: none;
  padding: 1em 0;
  border: 1px solid lightgrey;
  border-radius: 10px;
  z-index: 1;
}
.search-form__list li {
  padding: 1em 2em;
  transition: background-color 200ms ease-in-out;
}
.search-form__list li:hover {
  cursor: pointer;
  background-color: var(--accent);
}
.search-form__list li:focus {
  background-color: var(--accent);
  outline: none;
}
.main-section,
.weather-card__header,
.weather-card__footer {
  display: flex;
  gap: 2em;
  font-size: var(--fz-sm);
}
.main-section {
  flex-wrap: wrap;
  padding-top: 4em;
}
.weather-card {
  gap: 1em;
  width: 340px;
  max-width: 350px;
  padding: 2em;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.weather-card__footer {
  justify-content: space-between;
}
.weather-card--details {
  padding-bottom: 4em;
}
.weather-card--details ul {
  padding: 0;
  list-style: none;
}
.weather-card--icon {
  max-width: 130px;
}
.weather-card--icon img {
  margin-left: 2em;
  margin-top: -2em;
}
.weather-card--temp h3 {
  font-size: 7rem;
  font-weight: 700;
}.weather-card__actions {
  width: 90%;
  display: flex;
  bottom: 1em;
  right: 1em;
  justify-content: space-between;
  gap: 0.5em;
  position: absolute;
}
.graph-btn {
  display: flex;
  align-items: center;
  gap: .5em;
}
.btn {
  background: none;
  padding: .5em .7em;
  border: none;
  border-radius: 50%;
}
.btn i {
  transition: color 200ms ease-in-out;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover i {
  color: var(--gray-1);
}
.active {
  color: var(--accent);
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  opacity: .4;
}
.modal-content {
  width: 700px;
  min-width: 360px;
  font-size: var(--fz-md);
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
}
.modal-content p {
  margin-bottom: 2em;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.modal-btn {
  padding: 1em 2em;
  background-color: var(--accent);
  color: #fff;
  font-size: var(--fz-sm);
  border: none;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.modal-btn:hover {
  cursor: pointer;
  opacity: .8;
}
.modal-btn:focus,
.modal-btn:active {
  border: 1px solid var(--gray-2);
}
.delete-btn {
  display: flex;
  align-items: center;
  gap: 0.3em;
  background-color: var(--gray-1);
}